{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Parking Page</title>
  <link rel="stylesheet" href="{% static 'css/parking.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="content">
  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
<!-- partial -->
  <script  src="{% static 'js/parking.js' %}"></script>

</body>
</html>
